name: Automated Release Builder

on:
  push:
    tags:
      - '*'

jobs:
  build-example-spring:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Build with Maven
        working-directory: agent-example-spring
        run: make verify
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}

  build-example-quarkus:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Build with Maven
        working-directory: agent-example-quarkus
        run: make verify
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}

  build-example-nodejs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install, generate, and lint
        working-directory: agent-example-nodejs
        run: |
          npm ci
          wget -q -O openapi-agent.json "https://api.eu.amaise.com/doc/api-documentation/AGENT-SDK"
          npm run generate
          make lint

  create-release:
    needs:
      - build-example-spring
      - build-example-quarkus
      - build-example-nodejs
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Get the tag version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Build Release
        run: |
          zip -r sdk-release.zip quickstart \
            agent-example-spring/{docker,Makefile,mvn*,pmd*,pom.xml,proj*,README.md,spot*,src} \
            agent-example-quarkus/{Makefile,mvn*,pmd*,pom.xml,proj*,README.md,spot*,src} \
            agent-example-nodejs/{Dockerfile,Makefile,package.json,package-lock.json,openapi-ts.config.ts,tsconfig.json,README.md,lib,examples}

      - uses: ncipollo/release-action@v1
        with:
          artifacts: 'sdk-release.zip'
          tag: ${{ steps.get_version.outputs.VERSION }}
          name: Release ${{ steps.get_version.outputs.VERSION }}
          draft: true
          bodyFile: release_template.md
          allowUpdates: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Report Status
        if: always()
        uses: ravsamhq/notify-slack-action@v1
        with:
          status: ${{ job.status }}
          notify_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}
