# IntelliJ IDEA — whitelist shared project config only
!/.idea/
/.idea/*
!/.idea/.gitignore
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/google-java-format.xml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/vcs.xml
# Quarkus
/.quarkus/cli/plugins/
.flattened-pom.xml
release.properties
# local environment
.env
